.home {
  padding-top: 40px;
  max-width: 100%;
}
.home__section {
  min-height: 50px;
  padding: 16px 0;
  box-sizing: content-box;
  text-align: center;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.home__section h5 {
  color: #0a66c2;
  font-size: 16px;
  display: flex;
}

.home__section h5 a {
  font-weight: 700;
}

.home__section h5 p {
  font-size: 16px;
  color: #434649;
  font-weight: 600;
}

.home__layout {
  display: grid;
  grid-template-areas: "left middle right";
  grid-template-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(300px, 7fr);
  column-gap: 25px;
  row-gap: 25px;
  grid-template-rows: auto;
}

@media (max-width: 768px) {
  .home__section {
    flex-direction: column;
    padding: 0 5px;
  }

  .home__layout {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
  }

  .home__section h5 {
    display: flex;
    flex-direction: column;
  }
}
