.left {
  grid-area: left;
}

.left__card {
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 5px;
  transition: box-shadow 83s;
  position: relative;
  border: none;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
}

.left__cardUser {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px 12px 16px;
  word-wrap: break-word;
  word-break: break-word;
}

.left__cardBackground {
  background-image: url("../images/card-bg.svg");
  background-position: center;
  background-size: 462px;
  height: 54px;
  margin: -12px -12px 0;
}

.left__cardUser a {
  text-decoration: none;
  color: black;
}

.left__avatar {
  width: 72px !important;
  height: 72px !important;
}

.left__cardUser a .left__cardPhoto {
  box-shadow: none;
  width: 72px;
  height: 72px;
  box-sizing: border-box;
  background-clip: content-box;
  background-color: white;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  border: 2px solid white;
  margin: -30px auto 12px;
  border-radius: 50%;
}

.left__cardUser a .left__cardLink {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
}

.left__cardUser a .left__photoText {
  color: #0a66c2;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
}

.left__cardWidget {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 12px;
  padding-bottom: 12px;
}

.left__cardWidget a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  color: gray;
}

.left__cardWidget a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.left__cardWidget a div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.left__cardWidget a div span {
  font-size: 12px;
  line-height: 1.333;
}

.left__cardWidget a div span:first-child {
  color: rgba(0, 0, 0, 0.6);
}

.left__cardWidget a div span:nth-child(2) {
  color: rgba(0, 0, 0, 1);
}

.left__cardWidget a img {
  color: rgba(0, 0, 0, 1);
}

.left__cardItem {
  border-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  padding: 12px;
  font-size: 12px;
  display: block;
  text-decoration: none;
}

.left__cardItem span {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 1);
}

.left__cardItem span img {
  color: rgba(0, 0, 0, 0.6);
}

.left__cardItem:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.left__cardCommunity {
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 5px;
  transition: box-shadow 83s;
  position: relative;
  border: none;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
  padding: 8px 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.left__cardCommunity a {
  text-decoration: none;
  color: black;
  padding: 4px 12px 4px 12px;
  font-size: 12px;
}

.left__cardCommunity a:hover {
  color: #0a66c2;
}

.left__cardCommunity a:last-child {
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #d6cec2;
  padding: 12px;
}

.left__cardCommunity a:last-child:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.left__cardCommunity a span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
